img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

img:nth-child(1) {
    filter: url(#transmissionerror);
}

// Potentially stack image filters
// img:nth-child(2) {
//     filter: grayscale(100%) contrast(1000%);
//     mix-blend-mode: multiply;
// }

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
