@use '../../assets/styles/config' as *;

.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: $screen-768) {
        overflow-y: auto;
        gap: 1.75rem;
        padding: 5rem 0 0 0;
    }
}
