@use '../../assets/styles/config' as *;

.login {
    border: 1px solid $white;
    font-family: $button-text;
    font-size: 1rem;
    font-weight: $weight-700;
    color: $dark-red;
    background: $white;
}
