@use './assets//styles/config' as *;

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 100vh;
    @media screen and (min-width: $screen-768) {
        grid-template-columns: 50% 50%;
    }
}

.left-panel {
    position: relative;
    display: grid;
    place-content: center;
    height: 50vh;
    border: 2rem solid $white;
    transition: ease-out 0.2s;
    @media screen and (min-width: $screen-768) {
        height: 100vh;
    }
}

.right-panel {
    display: grid;
    height: 50vh;
    background-color: $dark-red;
    padding: 4rem;
    // box-shadow: 0px 0px 10px 10px #743538 inset;
    place-content: center;
    transition: ease-out 0.2s;
    @media screen and (min-width: $screen-768) {
        height: 100vh;
    }
}
