@use './config' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
textarea,
select {
    font: inherit;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 2rem;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $heading;
    font-weight: $weight-700;
    color: $white;
    font-size: 3rem;
}
