@use '../../assets/styles/config' as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 1rem;
    background-color: $white;
    overflow: hidden;

    .image {
        display: flex;
        width: 100%;
        height: 15rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .info {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        padding: 3vh 3vw;
        place-content: center;
        font-family: $body;
        color: $white;
        font-weight: $weight-800;
        background-color: #000;
        transform: translateX(-100%);
        transition: ease-in-out 0.2s;

        .title {
            font-size: 1.5rem;
        }

        .artists {
            font-weight: $weight-400;
        }

        .link {
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            font-size: 1.5rem;
            transition: ease-in-out 0.2s;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    &:hover .info {
        transform: translateX(0);
        background-color: rgba(51, 51, 51, 0.9);
    }
}
